=render 'index_logged' if user_signed_in?
=render 'index_unlogged' if !user_signed_in?
%header
  .message
    %h1 Bem vindo ao MicroTutos!
    %h2 Compatilhe pequenos tutoriais e ajude pessoas a desenvolver melhor!
.toptutos
  =render 'shared/tutos'
