=form_for @tutorial do |f|
  Titulo
  %p= f.text_field :title
  Description
  %p= f.text_field :description
  Stage_id
  %p= f.number_field :stage_id
  %p= f.submit class:'submitButton', value:'Criar'

  