-@tutorials.each do |tutorial|
  %p= tutorial.title
  %p= tutorial.description
  %p= tutorial.user.name.titleize
  //= tutorial.category
  %p= tutorial.moderation_status

=link_to "Criar novo tutorial", new_tutorial_path