%p 
  Olá #{= @resource.email}!

  Alguém requisitou um link para trocar sua senha. Você pode fazer isso no link abaixo:

  = link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

  Se você não requisitou isso, por favor ignore esse email.
  Sua senha não será alterada a menos que você entre no link acima e altere.
